<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You dun goofed.</h1>
    <p>
      Hey <%= @user.firstname %>,<br>
      You've done something bad enough to warrant deleting
      your account.
    </p>
  </body>
</html>